/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body{
	width: 875px;
	margin: 0 auto;
}

header, footer, section{
	width: 100%;
}

nav{
	display: inline-block;
	margin: 0;
	vertical-align: bottom;
	padding-bottom: 12px;
}

nav a{
	color: #BCBCBC;
	text-decoration: none;
	margin: 0 63px 0 0;
	font-size: 14px;
}

nav a:first-child{
	margin-left: 0;
}

nav a:last-child{
	margin-right: 0;
}

.logo{
	margin: 27px 0px 0px 92px;
}

.titleButton{
	vertical-align: top;
	width: 49%;
	display: inline-block;
	padding-bottom: 100px;
	padding-top: 125px;

}

.imgdiv{
	width: 49%;
	display: inline-block;
}

.headerimage{
	display: block;
	padding: 68px 0px 40px 64px;
}

h1{
	font-size: 75px;
	text-align: center;
	display: block;
	padding-left: 40px;
	padding-bottom: 4px;
}

button{
	background-color: white;
	font-size: 16px;
	border: 1px solid black;
	margin-left: 150px;
	display: block;
	padding: 6px 47px;
	margin-bottom: 22px;
}

p{
	font-size: 16px;
}

section{
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.upper-row{
	width:49%;
	display: inline-block;
}

h2{
	margin-top: 
}